@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url(../../common.css);
body{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

/* header style */
header{
    /* background: orange; */
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 999;
}
header .inner-header{
    /* background: tomato; */
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header .inner-header .logo{
    /* border: 2px solid aqua; */
    flex:1;
}
header .inner-header .logo img{
    height: 60px;
}
header .inner-header .intro-text{
    /* border: 2px solid violet; */
    flex: 4;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
}
header .inner-header .menu-open{
    /* border: 2px solid yellowgreen; */
    flex: 1;
    font-weight: 700;
    font-size: 1.2em;
    /* background: violet; */
    align-self: stretch;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .inner-header .menu-open .lnr-menu{
    font-size: 30px;
margin-left: 15px;
}

header .gnb{
    /* display: none; */
    height: 100vh;
    background: #000;
    color: #666;
    font-weight: 700;
    font-size: 40px;
    padding: 70px 100px;

    display: flex;
    flex-direction: row-reverse;

    position: fixed;
    right: -100%;
    top: 0;

    transition: 0.8s;
}
header .gnb.open{
    right: 0;
}
header .gnb .close{
    color: #fff;
    margin-left: 150px;
}
header .gnb ul{
    line-height: 1.7;
}
header .gnb ul li:hover,
header .gnb ul li:.active{
    color: #fff;
}